<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Alta/Modificación Aula</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Instituto de Investigaciones Filológicas Emilio Disi</h1>
    <h2>Alta/Modificación de Aula</h2>
    <div class="topnav">
        <a class="active" href="#capacity">Capacidad del aula</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="number" placeholder="Ingrese número máximo de alumnos" name="search">
                <button type="reset">CANCELAR</button>
                <button type="submit">GUARDAR</button>
            </form>
        </div>
    </div>
</body>

</html>