<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Instituto de Investigaciones Filológicas Emilio Disi</h1>
    <h2>Ingrese criterios de búsqueda</h2>

    <div>
        <a href="src\main\resources\templates\classroom.html" type="submit">AULA</a>
        <a href="src\main\resources\templates\student.html" type="submit">ALUMNO</a>
        <a href="src\main\resources\templates\course.html" type="submit">CURSO</a>
        <a href="src\main\resources\templates\teacher.html" type="submit">PROFESOR</a>
    </div>


</body>

</html>