<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Instituto de Investigaciones Filológicas Emilio Disi</h1>
    <h2>Ingrese criterios de búsqueda</h2>


    <div>
        <a href="classroom" type="submit">AULA</a>
        <a href="course" type="submit">CURSO</a>
        <a href="teacher" type="submit">PROFESOR</a>
        <a href="student" type="submit">ALUMNO</a>
    </div>


</body>

</html>