<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>

<head>
  <title>Alumno</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
  <div>
    <a href="http://localhost:8080/" type="submit">VOLVER</a>
  </div>
  <h1>Instituto de Investigaciones Filológicas Emilio Disi</h1>
  <h2>Alta/Modificación Alumno</h2>
  <div class="container">
    <form th:action="@{/student}" th:object="${student}" method="POST">
      <div class="row">
        <div class="col-25">
          <label for="apellido">Apellido</label>
        </div>
        <div class="col-75">
          <input type="text" id="apellido" name="apellido" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="nombre">Nombre/s</label>
        </div>
        <div class="col-75">
          <input type="text" id="nombre" name="nombre" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">DNI</label>
        </div>
        <div class="col-75">
          <input type="text" id="dni" name="dni" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="dni">Dirección</label>
        </div>
        <div class="col-75">
          <input type="text" id="dirección" name="dni" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="telefono">Teléfono</label>
        </div>
        <div class="col-75">
          <input type="tel" id="telefono" name="telefono" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="email">Mail</label>
        </div>
        <div class="col-75">
          <input type="email" id="email" name="email" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="admissionDate">Fecha de Ingreso</label>
        </div>
        <div class="col-75">
          <input type="date" id="admissionDate" name="admissionDate"
            th:value="${#temporals.format(fromAdmissionDate,'yyyy-MM-dd')}">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="score">Promedio actual</label>
        </div>
        <div class="col-75">
          <input type="text" id="score" name="score" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="approved">Aprobado</label>
        </div>
        <div class="col-75">
          <input type="text" id="approved" name="approved" placeholder="">
        </div>
      </div>
      <div class="row">
        <button type="reset">CANCELAR</button>
        <button type="submit">GUARDAR</button>
      </div>
    </form>
    <div>
      <table>
        <tr>
          <th>Legajo</th>
          <th>Apellido</th>
          <th>DNI</th>
        </tr>
        <tr th:if="${students.empty}">
          <td colspan="2"> No existen estudiantes</td>
        </tr>
        <tr th:each="student : ${students}">
          <td><span th:text="${student.id}"></span></td>
          <td><span th:text="${student.personalInformation.lastName}"></span></td>
          <td><span th:text="${student.personalInformation.dni}"></span></td>
          <td><span th:text="${student.personalInformation.admissionDate}"
              th:value="${#temporals.format(fromAdmissionDate,'yyyy-MM-dd')}"></span></td>
          <td><span th: if="{student.courses != null}" th:text="${student.courses}"></span></td>
          <td><a th:href="@{'/student?id=' + ${student.id}}" th:method="get">Editar</a></td>
          <td><a th:href="@{'/deleteStudent/' + ${student.id}}" th:method="delete">Borrar</a></td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>