<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<head>
    <title>Profesor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div>
        <a href="http://localhost:8080/" type="submit">VOLVER</a>
    </div>
    <h1>Instituto de Investigaciones Filológicas Emilio Disi</h1>
    <h2>Alta/Modificación Profesor</h2>
    <div class="container">
        <form th:action="@{/teacher}" th:object="${teacher}" method="POST">
            <div class="row">
                <div class="col-25">
                    <label for="apellido">Apellido</label>
                </div>
                <div class="col-75">
                    <input type="text" id="apellido" name="apellido" placeholder="Ingrese Apellido/s">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="nombre">Nombre/s</label>
                </div>
                <div class="col-75">
                    <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre/s">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="country">DNI</label>
                </div>
                <div class="col-75">
                    <input type="text" id="dni" name="dni" placeholder="xx.xxx.xxx">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="dni">Dirección</label>
                </div>
                <div class="col-75">
                    <input type="text" id="dirección" name="dni" placeholder="Ingrese dirección">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="telefono">Teléfono</label>
                </div>
                <div class="col-75">
                    <input type="tel" id="telefono" name="telefono" placeholder="+54 9 221 5555555">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="email">Mail</label>
                </div>
                <div class="col-75">
                    <input type="email" id="email" name="email" placeholder="nombreUsuario@ejemplo.com">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="titulo">Título Profesional</label>
                </div>
                <div class="col-75">
                    <input type="text" id="titulo" name="titulo" placeholder="Ingrese título">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="titulacion">Fecha Titulación</label>
                </div>
                <div class="col-75">
                    <input type="date" id="titulacion" name="titulacion" placeholder="dd/mm/aaaa">
                </div>
            </div>
            <div class="row">
                <button type="reset">CANCELAR</button>
                <button type="submit">GUARDAR</button>
            </div>
        </form>
        <div>
            <table>
                <tr>
                    <th>Legajo</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                </tr>
                <tr th:if="${teachers.empty}">
                    <td colspan="2"> No existen profesores</td>
                </tr>
                <tr th:each="teacher : ${teachers}">
                    <td><span th:text="${teacher.id}"> Legajo </span></td>
                    <td><span th:text="${teacher.personalInformation.lastName}"> Apellido </span></td>
                    <td><span th:text="${teacher.personalInformation.dni}"> DNI </span></td>
                    <td><a th:href="@{'/teacher?id=' + ${teacher.id}}" th:method="get">Editar</a></td>
                    <td><a th:href="@{'/deleteTeacher/' + ${teacher.id}}" th:method="delete">Borrar</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>